
<%
const stub = {
  "predicates": [{
    "equals": {
      "method": "POST",
      "path": "/s2",
      "query": {
        "t": "AUQlUzeAOxdBND3leRTe2daA",
        "x": "1",
        "sid": "443690d82a79fc4b",
        "tid": "ea2d13605830d6914c20d37a180ee9beaf7a"
      },
      "headers": {
        "X-New-Header": "/checkout/shipping",
        "X-SVC-HEADER": "true"
      }
    }
  }],
  "responses": [{
    "is": {
      "statusCode": 200,
      "headers": {
        "X-SVC-HEADER": "response-header",
        "Content-Type": "text/html"
      },
      "body": "<html><body><h2></h2></body></html>"
    }
  }]
};
%>

<%= JSON.stringify(stub, null, 2) %>
